<h2>Booking from <%= @booking.departure_airport %> to <%= @booking.arrival_airport %></h2>
<h3>Flight: <%= @booking.flight_id %></h3>
<h3>Departure: <%= @booking.departing_time %></h3>
<h3>Arrival: <%= @booking.arrival_time %></h3>
<h3>Passanger Count: <%= @booking.passanger_count %></h3>
<h3>Passangers:</h3>
<ul>
  <% @booking.passangers.each do |passanger| %>
    <li><%= passanger.name %> (<%= passanger.email %>)</li>
  <% end %>
</ul>